.page.card-1-page {
    margin: 0;
    height: 100vh;
    display: grid;
    align-content: center;
    place-items: center;
    color: #f7f7f7;
    font-family: "Euclid Circular A", "Poppins";
}

.page.card-1-page.open {
    filter: blur(1.5rem);
}

h2,
h3,
h4 {
    margin: 0;
    font-weight: 500;
}


.section2-title {
    font-size: 32px;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;

}

.card-1-page .card {
    position: relative;
    perspective: 1000px;
    width: 300px;
    height: 300px;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.card-1-page .card:hover {
    transform: translateY(-10px); /* Example transformation on hover */
}

.card-1-page .card header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 26px;
}

.card-1-page .card header h2 {
    font-size: 20px;
    text-transform: capitalize;
}

.card-1-page .card .front,
.card-1-page .card .back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
    background: #1e1e1e;
    border-radius: 10px;
    padding: 36px 36px 44px 44px;
    transition: 0.6s;
    cursor: pointer;
    overflow: hidden;
}

.card-1-page .card .front p::-webkit-scrollbar,
.card-1-page .card .back p::-webkit-scrollbar {
    width: 0;  
    background: transparent;
}

/* Hide scrollbar track for Safari */
.card-1-page .card .front p::-webkit-scrollbar-track,
.card-1-page .card .back p::-webkit-scrollbar-track {
    background: transparent;
}

/* Hide scrollbar thumb for Safari */
.card-1-page .card .front p::-webkit-scrollbar-thumb,
.card-1-page .card .back p::-webkit-scrollbar-thumb {
    display: none;
}

.card-1-page .back {
    transform: rotateY(180deg);
}

.card-1-page input {
    position: absolute;
    scale: 0;
}

.card-1-page input:checked~.card .back {
    transform: rotateY(0);
}

.card-1-page input:checked~.card .front {
    transform: rotateY(-180deg);
}

.card-1-page .card .material-symbols-outlined {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.card var {
    font-style: normal;
    font-size: 80px;
    line-height: 1;
}

.card h3 {
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 18px;
}

#blue :is(var, h2) {
    color: #3b82f6;
}

#red :is(var, h2) {
    color: #e56363;
}

#green :is(var, h2) {
    color: #25b697;
}

.card :is(h4, p) {
    opacity: 0.6;
    font-size: 20px;
}

.card p {
    margin-top: 10px;
    font-size: 18px;
    height: 190px;
    overflow-y: auto;
}

@media (max-width: 963px) {
    .page.card-1-page h1 {
        margin-bottom: 35px;
    }

    .page.card-1-page {
        margin-top: 360px;
    }

    .cards {
        flex-direction: column;
    }

    .card-1-page .card {
        animation: moveCardSmall 1.2s ease forwards;
        opacity: 0;
    }

    @keyframes moveCardSmall {
        from {
            opacity: 0;
            transform: translateY(-40px); /* Adjust starting position */
            
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

}

@media (min-width: 964px) and (max-width: 1275px) {
    .card-1-page .card {
        animation: moveCardMedium 1.2s ease forwards;
        opacity: 0;
    }

    @keyframes moveCardMedium {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}


